@using ERP.Models.CustomEnums
@using ERP.Models.CustomEnums.PageElementsPrivileges
@using ERP.Tools.EnumHelper

@model ERP.Models.ThirdPartyVerification.VMOrderSearch

<div class="content-wrapper">
    <div align="right">
        <form class="form-inline frmFind" role="form" method="get">
            <div class="search_Condition box_1k">
                <ul>
                    <li>
                        <label class="col-xs-2">销售订单编号：</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(d => d.OrderNumber, new { @class = "form-control" })
                        </div>
                    </li>
                    <li>
                        <label class="col-xs-2">客户下单日期：</label>
                        <div class="col-sm-10">
                            <div class="col-xs-5" style="padding: 0;">
                                @Html.TextBoxFor(d => d.CustomerDateStart, new { @class = "form-control Wdate" })
                            </div>
                            <span class="col-xs-1" style="padding: 0;">-</span>
                            <div class="col-xs-5" style="padding: 0;">
                                @Html.TextBoxFor(d => d.CustomerDateEnd, new { @class = "form-control Wdate" })
                            </div>
                        </div>
                    </li>
                    <li>
                        <label class="col-xs-2">客户：</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(d => d.CustomerCode, new { @class = "form-control" })
                        </div>
                    </li>
                    <li>
                        <label class="col-xs-2">要求交货期：</label>
                        <div class="col-sm-10">
                            <div class="col-xs-5" style="padding: 0;">
                                @Html.TextBoxFor(d => d.OrderDateStart, new { @class = "form-control Wdate" })
                            </div>
                            <span class="col-xs-1" style="padding: 0;">-</span>
                            <div class="col-xs-5" style="padding: 0;">
                                @Html.TextBoxFor(d => d.OrderDateEnd, new { @class = "form-control Wdate" })
                            </div>
                        </div>
                    </li>
                    <li>
                        <label class="col-xs-2">@ERP.Tools.Keys.CustomerPO：</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(d => d.POID, new { @class = "form-control" })
                        </div>
                    </li>
                    <li>
                        <label class="col-xs-2">订单来源：</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="OrderOrigin">
                                <option value=""></option>
                                <option @(Model.OrderOrigin == "手工录入" ? "selected='selected'" : "") value="手工录入">手工录入</option>
                                <option @(Model.OrderOrigin == "报价单生成" ? "selected='selected'" : "") value="报价单生成">报价单生成</option>
                                <option @(Model.OrderOrigin == "网站汇总" ? "selected='selected'" : "") value="网站汇总">网站汇总（预留）</option>
                            </select>
                        </div>
                    </li>

                    <li class="search">
                        <button type="submit" class="btn btn-info" onclick="return OA.s(this)">查询</button>
                        <button type="button" class="btn btn-info" onclick="clearAll(this)">清空所有</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>

    <div class="box_1k" style="width:100%;overflow:auto">
        <table id="MyGrid" class="easyui-datagrid" data-options="singleSelect:false,pageList: [10,50,200,500,1000], pageSize:50,remoteSort:true,multiSort:true,pagination:true,url:'@Url.Content("~/ThirdPartyVerification/GetAll")?PageType=@((int)Model.PageType)&@Request.QueryString',method:'get',onLoadSuccess:onLoadSuccess,@(ERP.Tools.Keys.EasyUiDataGridSetting)">
            <thead data-options="frozen:true">
                <tr>
                    @if (Model.PageType == PageTypeEnum.PendingCheckList)
                    {
                        <th data-options="field:'ck',checkbox:true"></th>
                    }
                    <th data-options="field:'OrderNumber',width:130,sortable:true,align:'center'">销售订单编号</th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th data-options="field:'POID',width:100,sortable:true,align:'center'">@ERP.Tools.Keys.CustomerPO</th>
                    <th data-options="field:'EHIPO',width:100,sortable:true,align:'center'">@ERP.Tools.Keys.ECHPO</th>
                    <th data-options="field:'CustomerNo',width:100,sortable:true,align:'center'">客户</th>
                    <th data-options="field:'CustomerDate',width:100,sortable:true,align:'center'">客户下单日期</th>
                    <th data-options="field:'OrderDateStart',width:100,sortable:true,align:'center'">开始交货日期</th>
                    <th data-options="field:'OrderDateEnd',width:100,sortable:true,align:'center'">结束交货日期</th>
                    <th data-options="field:'OrderOrigin',width:100,sortable:true,align:'center'">订单来源</th>

                    <th data-options="field:'InspectionVerificationFeeFormatter',align:'center',width:'100',sortable:true">我司承担费用</th>
                    <th data-options="field:'InspectionVerificationFee_ForFactoryFormatter',align:'center',width:'100',sortable:true">工厂承担费用</th>

                    <th data-options="field:'OrderStatusName',width:100,sortable:true,align:'center'">状态</th>
                    <th data-options="field:'DT_MODIFYDATE',width:130,sortable:true,align:'center'">最后修改时间</th>
                    <th data-options="field:'ID',align:'center',formatter:operationFormatter">操作</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    function onLoadSuccess() {
        jav.initGridCellTooltips(["ID"]);
    }
</script>