@using ERP.Models.CustomEnums
@using ERP.Models.CustomEnums.PageElementsPrivileges

@model ERP.Models.Order.VMOrderSearch

@{
    ViewBag.Title = "待审核的单证索引";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PartialList", Model)

<script>
    var tableName = "#MyGrid";

    function operationFormatter(val, row, index) {
        var rows = $(tableName).datagrid('getRows');
        var row = rows[index];

        var showView = @(Model.PageElementPrivileges & (int)DocumentsIndexingElementPrivileges.View);
        var showApproval = @(Model.PageElementPrivileges & (int)DocumentsIndexingElementPrivileges.Approval);

        var PendingCheck= @((short)DocumentsIndexingStatusEnum.PendingCheck);
        var ops = "";

        if (showView > 0) {
            ops += "<a wintype='idialog' winsize='1200,800,yes' class='btn btn-default btn-xs w_auto' onclick='return OA.i(this)' href='@(Url.Content("~/DocumentsIndexing/Edit/"))" + val + "?Type=Detail' style='margin: 0 5px;'>查看</a>";
        }

        var IsHasApprovalPermission=row.IsHasApprovalPermission;
        if ((row.StatusID == PendingCheck ) && showApproval>0 && IsHasApprovalPermission) {//待审批
            ops += "<a wintype='idialog' winsize='1200,800,yes' class='btn btn-default btn-xs w_auto' onclick='return OA.i(this)' href='@(Url.Content("~/DocumentsIndexing/Edit/"))" + val + "?Type=Approval' style='margin: 0 5px;'>审批</a>";
        }

        return ops;
    }
</script>