@{
    ViewBag.Title = "第三方验厂费用";
    Layout = "~/Views/Shared/_LayoutPop.cshtml";
}
@model ERP.Models.Inspection.VMInspection
@using ERP.Models.CustomEnums
@using ERP.Models.Common

@section styles{

    <link href="@Url.Content("~/Content/themes/icon.css")" rel="stylesheet" />
    <style type="text/css">
        .box_1k {
            margin-top: 0;
        }

        .table-advance thead tr th {
            background: #666;
            color: #fff;
        }

        .bg_contact {
            height: 600px;
        }

        .bg_fff {
            height: 850px;
        }

        #ContactInformation .modal-header {
            border-bottom: none;
        }

        .datagrid-row-selected {
            color: #000;
        }

        .datagrid-header-check input, .datagrid-cell-check input {
            margin-bottom: 20px;
        }

        .validatebox-invalid {
            border-color: red !important;
            background-color: #ffa8a8 !important;
        }

        .form-control-feedback {
            right: 10px;
        }
    </style>

}

@using (Ajax.BeginForm("InputAuditFees", "Inspection", null, new AjaxOptions() { HttpMethod = "Post", OnBegin = "return OnBegin()", OnSuccess = "OnSuccess()" }, new { id = "frmEdit" }))
{
    @Html.HiddenFor(d => d.ID)

    <!-- ko with: Inspection -->
    <h3 class="popTitle">
        基本信息
        <a class="table_toggle fa fa-2 fa-chevron-up"></a>
    </h3>
    <div class="row popContent">
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">采购单号：</label>
            <div class="col-sm-8 control-label">
                <p class="control-label" data-bind="text:PurchaseNumber()"></p>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">工厂：</label>
            <div class="col-sm-8 control-label">
                <p class="control-label" data-bind="text:FactoryName()"></p>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label text-danger">第三方名称：</label>
            <div class="col-sm-8 control-label ">
                <label class="control-label" data-bind="text:InspectionName()"></label>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="stree col-sm-4 control-label">联系邮箱：</label>
            <div class="col-sm-8 control-label ">
                <label class="control-label" data-bind="text:InspectionEmail()"></label>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">联系电话：</label>
            <div class="col-sm-8 control-label ">
                <label class="control-label" data-bind="text:InspectionPhoneNumber()"></label>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label">传真：</label>
            <div class="col-sm-8 control-label ">
                <label class="control-label" data-bind="text:InspectionFax()"></label>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label text-danger">验厂时间：</label>
            <div class="col-sm-8 control-label ">
                <label class="control-label" data-bind="text:StartTime()"></label>
                -
                <label class="control-label" data-bind="text:EndTime()"></label>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label text-danger">我司承担费用：</label>
            <div class="col-sm-8 control-label ">
                <div class="col-sm-1 control-label ">
                    @Model.CurrencySign
                </div>
                <div class="col-sm-10 control-label ">
                    <input id="InspectionAuditFee" type="text" class="form-control" name="InspectionAuditFee" data-bind="value:InspectionAuditFee()" />
                </div>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label text-danger"></label>
            <div class="col-sm-8 control-label ">
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label text-danger">工厂承担费用：</label>
            <div class="col-sm-8 control-label ">
                <div class="col-sm-1 control-label ">
                    @Model.CurrencySign
                </div>
                <div class="col-sm-10 control-label ">
                    <input id="InspectionAuditFee_ForFactory" type="text" class="form-control" name="InspectionAuditFee_ForFactory" data-bind="value:InspectionAuditFee_ForFactory()" />
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->

    <h3 class="popTitle">
        验厂内容
        <a class="table_toggle fa fa-2 fa-chevron-up"></a>
    </h3>
    <div class="row popContent">

        <table id="ContactsDataList" class="easyui-datagrid" style="width:100%;"
               data-options="singleSelect:true,
               rownumbers:true,
               pagelist:[10,20,50,100],
               pagesize:10,
               pagination:false,
               checkonselect:true,
               onBeforeEdit:onBeforeEditContacts,
               onAfterEdit:onAfterEditContacts,
               onCancelEdit:onCancelEditContacts,
               ">
            <thead data-options=" frozen:true">
                <tr>

                    @*<th data-options="field:'ID',width:100">编号</th>*@
                    <th data-options="field:'Name',width:200,sortable:true,editor:{type:'validatebox',options:{required:true}}">验厂项目</th>
                    <th data-options="field:'Comment',width:300,sortable:true,editor:{type:'validatebox',options:{required:true}}">说明</th>
                </tr>
            </thead>

            <tbody data-bind="foreach: Inspection().list_InspectionAuditNotice">
                <tr>
                    @* <td data-bind="text: ID"></td>*@
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: Comment"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group text-right tijiao">
        <button id="bntSave" type="button" class="btn btn-primary" data-loading-text="Loading..." data-bind="click: $root.save.bind($data, @(Model.StatusID))">保存</button>
        <button type="button" onclick="OA.CloseMe()" id="bntClose" class="btn btn-default">取消</button>
    </div>

    <h3 class="popTitle">
        历史记录
        <a class="table_toggle fa fa-2 fa-chevron-down"></a>
    </h3>
    <div class="popContent" style="display:none;">
        <div class="history_box">
            <table class="table table-bordered" style="width:100%;" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr class="t_bg">
                        <td width="20%">日期</td>
                        <td width="20%">操作者</td>
                        <td width="30%">状态</td>
                        <td width="30%">意见/备注</td>
                    </tr>
                    @if (Model.list_InspectionAuditNoticeHistory != null)
                    {
                        foreach (var item_history in Model.list_InspectionAuditNoticeHistory.OrderByDescending(d => d.DT_CREATEDATE))
                        {
                            <tr>
                                <td>@item_history.DT_CREATEDATE</td>
                                <td>@item_history.ST_CREATEUSER</td>
                                <td>@item_history.StatusName</td>
                                <td>@item_history.Comment</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="beizhu red">
        <strong>PS：</strong><span>字体颜色为红色是必填项。</span>
    </div>
}

@section scripts{

    <script src="~/Content/Knockout/knockout-3.3.0.js"></script>

    <script type="text/javascript">

        $(function () {
            $("#frmEdit").attr("disabled", "disabled");

        });

        function InspectionModel() {
            this.PurchaseNumber = ko.observable("@(Model.PurchaseNumber)");
            this.FactoryName = ko.observable("@(Model.FactoryName)");
            this.InspectionName = ko.observable("@(Model.InspectionName)");
            this.InspectionEmail = ko.observable("@(Model.InspectionEmail)");
            this.InspectionPhoneNumber = ko.observable("@(Model.InspectionPhoneNumber)");
            this.InspectionFax = ko.observable("@(Model.InspectionFax)");
            this.StartTime = ko.observable("@(Model.StartTime)");
            this.EndTime = ko.observable("@(Model.EndTime)");
            this.InspectionAuditFee = ko.observable("@(Model.InspectionAuditFee)");
            this.InspectionAuditFee_ForFactory = ko.observable("@(Model.InspectionAuditFee_ForFactory)");
            this.StatusID = ko.observable();

            this.list_InspectionAuditNotice = ko.observableArray();
        }

        function CustomerViewModel() {
            var self = this;

            self.Inspection = ko.observableArray();
            self.Inspection(new InspectionModel());

            self.Inspection().list_InspectionAuditNotice(@(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.list_InspectionAuditNotice))));

            self.save = function (status) {
                var bootstrapValidator = $("#frmEdit").data('bootstrapValidator');
                bootstrapValidator.validate();

                if (bootstrapValidator.isValid()) {
                    self.Inspection().InspectionAuditFee($("input[name=InspectionAuditFee]").val());
                    self.Inspection().InspectionAuditFee_ForFactory($("input[name=InspectionAuditFee_ForFactory]").val());

                    $("#bntSave").removeAttr("disabled");

                    var contactInfos = $('#ContactsDataList').datagrid("getRows");
                    if (contactInfos && contactInfos.length > 0) {
                        self.Inspection().list_InspectionAuditNotice(contactInfos);
                    }
                    else {
                        self.Inspection().list_InspectionAuditNotice(null);
                        $.messager.alert("提示", "请输入验厂内容！");
                        return;
                    }

                    $.ajax({
                        type: 'post',
                        contentType: 'application/json',
                        url: "@Url.Content("~/Inspection/InputAuditFees/" + Model.ID)",
                        data: ko.toJSON(self.Inspection())
                    }).done(function (data) {
                        if (data == 0) {
                            $.messager.alert("出错了", "出错了");
                            $("#frmEdit input[name=No]").focus();
                        }
                        else {
                            parentGridReload();
                            OA.CloseMe(true);
                        }
                        $("#bntSave").removeAttr("disabled");
                    });
                }
                else {
                    $(".has-error:first input").focus();
                    return;
                }
            };
        };
        ko.applyBindings(new CustomerViewModel());

        function getRowIndex(target) {
            var tr = $(target).closest('tr.datagrid-row');
            return parseInt(tr.attr('datagrid-row-index'));
        }

        var editIndexContacts = undefined;
        function onBeforeEditContacts(index, row) {
            row.editing = true;
            updateActionsContact(index);
        }
        function onAfterEditContacts(index, row) {
            row.editing = false;
            updateActionsContact(index);
        }
        function onCancelEditContacts(index, row) {
            row.editing = false;
            updateActionsContact(index);
        }
        function endEditingContact() {
            //var isView = ((bool)ViewData["IsView"] ? 1 : 0);
            //if(isView === 1){
            //    return false;
            //}
            if (editIndexContacts == undefined) { return true }
            if ($('#ContactsDataList').datagrid('validateRow', editIndexContacts)) {
                $('#ContactsDataList').datagrid('endEdit', editIndexContacts);
                editIndexContacts = undefined;
                return true;
            } else {
                return false;
            }
        }
        function editContact(target) {
            acceptContact(target);
            $('#ContactsDataList').datagrid('beginEdit', getRowIndex(target));
        }
        function appendContact() {
            if (endEditingContact()) {
                $('#ContactsDataList').datagrid('appendRow', { ID: -1 });
                editIndexContacts = $('#ContactsDataList').datagrid('getRows').length - 1;
                $('#ContactsDataList').datagrid('selectRow', editIndexContacts)
                        .datagrid('beginEdit', editIndexContacts);
            }
        }
        function removeitContact() {
            if (editIndexContacts == undefined) { return }
            $.messager.confirm('Confirm', '确定要删除吗?', function (r) {
                if (r) {
                    $('#ContactsDataList').datagrid('cancelEdit', editIndexContacts)
                        .datagrid('deleteRow', editIndexContacts);
                    editIndexContacts = undefined;
                } else {
                    return;
                }
            });
        }
        function removeContact(target) {
            $.messager.confirm('Confirm', '确定要删除吗?', function (r) {
                if (r) {
                    $('#ContactsDataList').datagrid('deleteRow', getRowIndex(target));
                }
            });
        }
        function acceptContact(target) {
            editIndexContacts = getRowIndex(target);

            if (endEditingContact()) {
                $('#ContactsDataList').datagrid('acceptChanges');
            }

        }
        function rejectContact() {
            $('#ContactsDataList').datagrid('rejectChanges');
            editIndexContacts = undefined;
        }
        function actionsFormatterContacts(value, row, index) {
            if (row.editing) {
                var s = '<input type="button" onclick="acceptContact(this)" value="Save" style="width:40px"></input> ';
                var c = '<input type="button" onclick="rejectContact()" value="Cancel" style="width:40px"></input>';
                return s + c;
            } else {
                var e = '<input type="button" onclick="editContact(this)" value="Edit" style="width:40px"></input>';
                var d = '&nbsp;<input type="button" onclick="removeContact(this)" value="Delete" style="width:40px"></input>';
                return e + d;
            }
        }
        function updateActionsContact(index) {
            $('#ContactsDataList').datagrid('refreshRow', index);
        }

        var editIndexAcceptInfo = undefined;
        function onBeforeEditAcceptInfo(index, row) {
            editIndexAcceptInfo = index;
            row.editing = true;
            updateActionsAcceptInfo(index);
        }
        function onAfterEditAcceptInfo(index, row) {
            row.editing = false;
            updateActionsAcceptInfo(index);
        }
        function onCancelEditAcceptInfo(index, row) {
            row.editing = false;
            updateActionsAcceptInfo(index);
        }
        function endEditingAcceptInfo() {
            //var isView =
            if (isView === 1) {
                return false;
            }
            if (editIndexAcceptInfo == undefined) { return true }
            if ($('#AcceptInfoDataList').datagrid('validateRow', editIndexAcceptInfo)) {
                $('#AcceptInfoDataList').datagrid('endEdit', editIndexAcceptInfo);
                editIndexAcceptInfo = undefined;
                return true;
            } else {
                return false;
            }
        }
        function editAcceptInfo(target) {
            acceptAcceptInfo(target);
            $('#AcceptInfoDataList').datagrid('beginEdit', getRowIndex(target));
        }
        function appendAcceptInfo() {
            if (endEditingAcceptInfo()) {
                $('#AcceptInfoDataList').datagrid('appendRow', { ID: -1 });
                editIndexAcceptInfo = $('#AcceptInfoDataList').datagrid('getRows').length - 1;
                $('#AcceptInfoDataList').datagrid('selectRow', editIndexAcceptInfo)
                        .datagrid('beginEdit', editIndexAcceptInfo);
            }
        }
        function removeitAcceptInfo() {
            if (editIndexAcceptInfo == undefined) { return }
            $.messager.confirm('Confirm', '确定要删除吗?', function (r) {
                if (r) {
                    $('#AcceptInfoDataList').datagrid('cancelEdit', editIndexAcceptInfo)
                    .datagrid('deleteRow', editIndexAcceptInfo);
                    editIndexAcceptInfo = undefined;
                }
                else {
                    return;
                }
            });
        }
        function removeAcceptInfo(target) {
            $.messager.confirm('Confirm', '确定要删除吗?', function (r) {
                if (r) {
                    $('#AcceptInfoDataList').datagrid('deleteRow', getRowIndex(target));
                }
            });
        }
        function acceptAcceptInfo(target) {
            editIndexAcceptInfo = getRowIndex(target);

            if (endEditingContact()) {
                $('#ContactsDataList').datagrid('acceptChanges');
            }
        }
        function rejectAcceptInfo() {
            $('#AcceptInfoDataList').datagrid('rejectChanges');
            editIndexAcceptInfo = undefined;
        }
        function actionsFormatterAcceptInfo(value, row, index) {
            if (row.editing) {
                var s = '<input type="button" onclick="acceptAcceptInfo(this)" value="Save" style="width:40px"></input> ';
                var c = '<input type="button" onclick="rejectAcceptInfo()" value="Cancel" style="width:40px"></input>';
                return s + c;
            } else {
                var e = '<input type="button" onclick="editAcceptInfo(this)" value="Edit" style="width:40px"></input>';
                var d = '&nbsp;<input type="button" onclick="removeAcceptInfo(this)" value="Delete" style="width:40px"></input>';
                return e + d;
            }
        }
        function updateActionsAcceptInfo(index) {
            $('#AcceptInfoDataList').datagrid('refreshRow', index);
        }
        $('#frmEdit').bootstrapValidator({
            message: '信息不能为空值',
            container: 'popover',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-repeat fa-spin'
            },
            fields: {
                InspectionAuditFee: {
                    validators: {
                        notEmpty: { message: '我司承担费用不能为空' },
                        regexp: jav.regx.numValid
                    }
                },
                InspectionAuditFee_ForFactory: {
                    validators: {
                        notEmpty: { message: '工厂承担费用不能为空' },
                        regexp: jav.regx.numValid
                    }
                }
            }
        });

        var checkSubmit = false;//防止重复提交
        function OnBegin() {
            return false;
        }

        function OnSuccess() {
            checkSubmit = false;

            parentGridReload();
            OA.CloseMe(true);
        }
    </script>
}