@model ERP.Models.ProductFitting.VMProductFittingSearchModel

@{
    ViewBag.Title = "配件产品";
}
@using Newtonsoft.Json;

@section styles{
    <link href="@Url.Content("~/Content/themes/icon.css")" rel="stylesheet" />
    <style type="text/css">
        .search_Condition .multiJKNo > label {
            width: 11.4% !important;
            margin-top: 6px;
        }

        .search_Condition .multiJKNo > div {
            width: 88.6% !important;
        }

            .search_Condition .multiJKNo > div > textarea {
                margin-top: 6px;
            }

        .search_Condition ul li.search {
            margin-top: 26px;
        }

        @@media only screen and (max-width: 1280px) {
            .search_Condition .multiJKNo > label {
                width: 17.4% !important;
                margin-top: 6px;
            }

            .search_Condition .multiJKNo > div {
                width: 82.6% !important;
            }

            .search_Condition ul li.search {
                margin-top: 36px;
            }
        }
    </style>
}

<div class="content-wrapper">
    <div align="right">
        <form class="form-inline frmFind" role="form" method="get">
            <input name="$ID" type="hidden" value="product" />
            <div class="search_Condition box_1k">
                <ul>
                    <li>
                        <label class="col-xs-2">货号：</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(d => d.No, new { @class = "form-control" })
                        </div>
                    </li>
                    <li>
                        <label class="col-xs-2">工厂：</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(d => d.FactoryAbbreviation, new { @class = "form-control" })
                        </div>
                    </li>
                    <li class="search">
                        <button id="bntFind" type="submit" onclick="return OA.s(this)" class="btn btn-info">查询</button>
                        <button id="bntClearAll" type="button" class="btn btn-info" onclick="clearAll(this)">清空所有</button>
                    </li>
                </ul>
            </div>

            <div class="Control">
                @if ((Model.PageElementPrivileges & (int)ERP.Models.CustomEnums.PageElementsPrivileges.ProductFittingElementPrivileges.CreateProduct) > 0)
                {
                    <button id="bntSearch" wintype="idialog" type="button" winsize="1200,800,yes" onclick="return OA.i(this);" href="@Url.Content("~/ProductFitting/Edit/0")" class="btn btn-danger">新建产品</button>
                }
                @if ((Model.PageElementPrivileges & (int)ERP.Models.CustomEnums.PageElementsPrivileges.ProductFittingElementPrivileges.BatchDelete) > 0)
                {
                    <button id="bntDelete" type="button" onclick="deleteSelected()" class="btn btn-default">批量删除</button>
                }
            </div>
        </form>
    </div>

    <table id="tblProducts" class="easyui-datagrid" style="width:100%;"
           data-options="resizeHandle:'right',singleSelect:false,pageList: [10,50,200,500,1000], pageSize:50,remoteSort:true,multiSort:true,pagination:true,url:'@Url.Content("~/ProductFitting/GetAll")?@HttpContext.Current.Request.QueryString',method:'get',onLoadSuccess:onLoadSuccess,@(ERP.Tools.Keys.EasyUiDataGridSetting)">
        <thead data-options="frozen:true">
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th data-options="field:'No',width:100,sortable:true,formatter:productNoFormatter2">货号</th>
                <th data-options="field:'ID',formatter:operationFormatter">操作</th>
                <th data-options="field:'Name',width:100,sortable:true">品名</th>
                <th data-options="field:'FactoryName',width:100,sortable:true">工厂</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th data-options="field:'Length',width:70,align:'center',sortable:true">长/CM</th>
                <th data-options="field:'Width',width:70,align:'center',sortable:true">宽/CM</th>
                <th data-options="field:'Height',width:70,align:'center',sortable:true">高/CM</th>
                <th data-options="field:'PriceFactory',sortable:true,width:70,align:'center'">工厂价格</th>
                <th data-options="field:'CurrencyName',sortable:true,width:70,align:'center'">币种</th>
                <th data-options="field:'Comment',width:90,align:'center'">备注</th>
                <th data-options="field:'DT_MODIFYDATE',width:150,sortable:true,formatter:formateDate,align:'center'">修改日期</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts
{
    <script>
        $(function () {
            $(".box_1k").css("overflow", "hidden");
        })

        function onLoadSuccess(){
            InitPopover();

            jav.initGridCellTooltips(["ck","DT_MODIFYDATE","ID"]);
        }

        //删除产品
        function deleteProduct(pid) {
            $.messager.confirm('提示','是否删除选中的产品?',function(r){
                if (r){
                    $.post('@Url.Content("~/ProductFitting/Delete")', { idList: pid },
                       function (result) {
                           switch (result) {
                               case @((short)ERP.Models.CustomEnums.DBOperationStatus.NoAffect) :
                                   $.messager.alert("提示","没有可以删除删除的记录");
                                   break;
                               case @((short)ERP.Models.CustomEnums.DBOperationStatus.Success) :
                                   $.messager.alert("成功","删除成功");
                                   $('#tblProducts').datagrid('reload');
                                   break;
                               default:
                                   break;
                           }
                       }, "json");
                }
            });
        }

        //删除选中
        function deleteSelected() {
            var idArray = getAllSelections();
            if (idArray.length <= 0) {
                $.messager.alert("提示","请选中要删除的产品！");
                return;
            }

            $.messager.confirm('提示','是否删除选中的产品?',function(r){
                if (r){
                    $.post("@Url.Content("~/ProductFitting/Delete")", { idList: idArray.join(',') },
                        function (result) {
                            switch (result) {
                                case @((short)ERP.Models.CustomEnums.DBOperationStatus.NoAffect) :
                                    $.messager.alert("提示","没有可以删除删除的记录");
                                    break;
                                case @((short)ERP.Models.CustomEnums.DBOperationStatus.Success) :
                                    $.messager.alert("成功","删除成功");
                                    $('#tblProducts').datagrid('reload');
                                    break;
                                default:
                                    break;
                            }
                        }, "json");
                }
            });
        }

        function getAllSelections(){
            var idArray = [];
            var rows = $('#tblProducts').datagrid('getSelections');
            for(var i=0; i<rows.length; i++){
                idArray.push(rows[i].ID);
            }
            return idArray;
        }


        var showEdit = @(Model.PageElementPrivileges & (int)ERP.Models.CustomEnums.PageElementsPrivileges.ProductFittingElementPrivileges.EditProduct);
        var showView = @(Model.PageElementPrivileges & (int)ERP.Models.CustomEnums.PageElementsPrivileges.ProductFittingElementPrivileges.ViewProduct);
        var showDelete = @(Model.PageElementPrivileges & (int)ERP.Models.CustomEnums.PageElementsPrivileges.ProductFittingElementPrivileges.DeleteProduct);
        function operationFormatter(val, row, index) {

            var ops = "";
            if(showEdit > 0){
                ops += "<a wintype='idialog' winsize='1200,800,yes' class='btn btn-default btn-xs w_auto' onclick='return OA.i(this)' href='@(Url.Content("~/ProductFitting/Edit/"))" + val + "'>编辑</a>";
            }
            if(showView > 0){
                ops += "<a wintype='idialog' winsize='1200,800,yes' class='btn btn-default btn-xs w_auto' onclick='return OA.i(this)' href='@(Url.Content("~/ProductFitting/Edit/"))" + val + "?Type=Detail' style='margin: 0 5px;'>查看</a>";
            }
            if(showDelete > 0){
                ops += "<button class='btn btn-danger btn-xs w_auto' onclick='deleteProduct(" + val + ")'>删除</button>";
            }
            return ops;
        }

        function productNoFormatter2(val, row, index) {
            return jav.GetProductHtml(row.Image, '@(Url.Content("~/ProductFitting/Edit/"))' + row.ID+"?Type=Detail" , row.No);
        }

    </script>
}