@{
    ViewBag.Title = @ViewBag.title;
    Layout = "~/Views/Shared/_LayoutPop.cshtml";
}
<div class="content-wrapper">
    <div align="right">

        <input type="text" value="@ViewBag.DataFlag" id="Number" style="visibility:hidden" />
        <div class="search_Condition box_1k" style="border-color:white">
            <ul>
                <li>
                    <label class="col-sm-4 text-danger">@ViewBag.Code：</label>
                    <div class="col-sm-8 form-group">
                        <input id="HSCode" type="text" name="HSCode" class="form-control" required="required" data-bv-field="HSCode" />
                    </div>
                </li>

                @if (Request.QueryString["id"] == "1")
                {
                    <li>
                        <label class="col-sm-4  text-danger">@ViewBag.Cess：</label>
                        <div class="col-sm-6 form-group">
                            <input id="Cess" type="text" name="Cess" class="form-control" />
                            <label style="display:none" name="ID"></label>
                            <label style="">@ViewBag.ShowMessage</label>
                        </div>
                        <div class="col-sm-2">%</div>
                    </li>
                }
                else
                {
                    <li>
                        <label class="col-sm-4  text-danger">Duty：</label>
                        <div class="col-sm-6 form-group">
                            <input id="DutyPercentList" type="text" name="DutyPercentList" class="form-control" />
                            <label style="display:none" name="ID"></label>
                            <label style="">@ViewBag.ShowMessage</label>
                        </div>
                        <div class="col-sm-2">%</div>
                    </li>
                }

                <li>
                    <label class="col-sm-4  text-danger">@ViewBag.Name：</label>
                    <div class="col-sm-8 form-group">
                        <input id="Name" type="text" name="Name" class="form-control" />
                        <label style="display:none" name="ID"></label>
                        <label style="">@ViewBag.ShowMessage</label>
                    </div>
                </li>
                <li>
                    <label class="col-sm-4  text-danger">@ViewBag.EngName：</label>
                    <div class="col-sm-8 form-group">
                        <input id="EngName" type="text" name="EngName" class="form-control" />
                    </div>
                </li>
                <li>
                    <label class="col-sm-4 " style="@(ViewBag.DataFlag == 2 ? "display:none" : "")">是否需要报检：</label>
                    <div class="col-sm-8">
                        <input id="Checkbox1" type="checkbox" name="Check" onclick="checkboxOnclick(this)" style="@(ViewBag.DataFlag==2?"display:none":"")" />
                    </div>
                </li>
            </ul>
            <div class="box_1k" style="width:98%;overflow:auto;margin-left:126px;border-color:white;display:none;" id="Show">
                <div class="history_box ProductList" id="show">
                    <table class="table table-bordered" style="width:80%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr style="border:1px solid white">
                                <td style="border:1px solid white"></td>
                            </tr>
                            <tr class="t_bg">
                                <td width="3%">  <input id="box" type="checkbox" />       </td>
                                <td width="90%" style="font-weight: bold; text-align: center; margin: auto">报检项目</td>
                            </tr>
                            @{
                                List<ERP.Models.Dictionary.DTODictionary> erp = (List<ERP.Models.Dictionary.DTODictionary>)ViewData["Data"];

                                foreach (var item in erp)
                                {
                                    <tr>
                                        <td width="1%"><input type="checkbox" name="chk" value="@item.Code" style="text-align:center;padding:0 ;margin:auto" /></td>
                                        <td width="60%" style="text-align:center;margin:auto"><label style="font-weight:100;">@item.Name</label></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="search" style="float: right; border-color: white; margin-top:12px;border-top:1px solid #ccc;width:100%">
                <button type="button" class="btn btn-info" onclick="OA.CloseMe()" style="float: right; margin-right: 10px; margin-top: 30px; ">取消</button>
                <button type="button" class="btn btn-danger" style="float:right;margin-right:10px;margin-top:30px" onclick="Add()">保存</button>
            </div>

            @if (Request.QueryString["id"] == "0")
            {
                <div class="beizhu" style="float: none;">
                    <ul>
                        <li>PS：多个Duty可以用分号;隔开。</li>
                    </ul>
                </div>
            }

        </div>
    </div>
</div>

@section scripts
{

    <script>

        //全选按钮触发事件

        $(function () {

            //页面运行时，将table隐藏
            $("#Show").hide();

            var obox = document.getElementById("box");

            var ach = document.getElementsByName("chk");
            obox.onclick = function () {
                for (var i = 0; i < ach.length; i++) {
                    ach[i].checked = this.checked;
                }
            }

            for (var i = 0; i < ach.length; i++) {
                ach[i].onclick = function () {
                    if (!this.checked) {
                        obox.checked = false;
                    }
                };
            }
        })

        function checkboxOnclick(checkbox) {
            if (checkbox.checked == true) {
                $("#Show").show();
                $("#Checkbox1").attr('checked', true)
            } else {

                $("#Show").hide();
                // $(' input[name=chk]').attr('checked', this.checked);
                $("input[name=chk]").attr('checked', false);
            }
        }
        //方法结束

        function Add() {
            //   alert($("#Number").val());
            if ($("#HSCode").val() == "") {
                $.messager.alert("提示", "请输入HS Code！", "info", function () {
                    $("#HSCode").focus();
                });
                return;
            }
            if ($("#Cess").val() == "") {
                $.messager.alert("提示", "请输入退税率！", "info", function () {
                    $("#Cess").focus();
                });
                return;

            }
            else if ($("#Cess").val() != undefined) {
                var num = /^[0-9]{0}([0-9]|[.])+$/;
                if (!num.test($("#Cess").val())) {
                    $.messager.alert("提示", "退税率请输入数字！", "info", function () {
                        $("#Cess").focus();
                    });
                    return;
                }
                else {
                    if ($("#Cess").val() > 100) {
                        $.messager.alert("提示", "退税率不能超过100！", "info", function () {
                            $("#Cess").focus();
                        });
                        return;
                    }
                }

            }

            if ($("#DutyPercentList").val() == "") {
                $.messager.alert("提示", "请输入Duty！", "info", function () {
                    $("#DutyPercentList").focus();
                });
                return;

            }
            else {
                //TODO

            }

            if ($("#Name").val() == "") {
                $.messager.alert("提示", "请输入名称！", "info", function () {
                    $("#Name").focus();
                });
                return;

            }
            if ($("#EngName").val() == "") {
                $.messager.alert("提示", "请输入英文名称！", "info", function () {
                    $("#EngName").focus();
                });
                return;

            }

            var CodeList = [];

            $("#Show table tr:not(:first)").each(function () {
                var $chk = $(this).find("input[name=chk]");
                if ($chk.is(":checked")) {
                    CodeList.push($(this).find("input[name=chk]").val());
                }
            })

            if (document.getElementById("Checkbox1").checked) {
                //如果点击了是否报检，但是没有在报检项目表中勾选，那么弹出提示框
                if (CodeList == "") {
                    $.messager.alert("提示", "请选择报检项目！");
                    return;
                }
            }


            $.post('@Url.Content("~/HS/AddCode")', {
                hscode: $("#HSCode").val(),
                cess: $("#Cess").val(),
                DutyPercentList: $("#DutyPercentList").val(),
                tagid: CodeList.join(','),
                name: $("#Name").val(),
                engName: $("#EngName").val(),
                dataflag: $("#Number").val()
            }, function (result) {
                if (result == 1) {

                    OA.CloseMe();
                    parentGridReload();
                }
                else if (result == 4) {
                    $.messager.alert("提示", "已存在此 Code,不能重复添加！请重新输入！", "info", function () {
                        $("#HSCode").focus();
                    });
                }
            })



        }
        //方法结束
    </script>
}